@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html,
body,
:root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.messengerItem::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: blue;
  position: absolute;
  bottom: -5px;
  left: 0;
  display: none;
}
.messengerItem:hover::after {
  display: block;
}
.messenger-title {
  font-size: 70px;
  font-weight: bold;
  max-width: 300px;
  white-space: 0.5px;
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(
    83.84deg,
    #0088ff -6.87%,
    #a033ff 26.54%,
    #ff5c87 58.58%
  );

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.left-content {
  max-width: 300px;
}
