.menu-item:hover > div {
  display: block !important;
}
.sub-menu li:hover {
  color: #22ad01;
}
.see-all {
  position: relative;
}
.see-all::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #22ad01;
  bottom: 0;
  left: 0;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.see-all:hover::after {
  transform: scaleX(0);
  transform-origin: bottom right;
}
.dropdown-menu {
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.5s ease;
  background: white;
  border-bottom: 1px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 10px;
}
.open {
  transform: scaleY(1);
}
.dropdown-sub div {
  padding: 15px 5px;
}

.switch {
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 25px;
}
.switch input {
  appearance: none;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  background: #f0f5f0;
  outline: none;
  transition: 0.25s;
}

.switch .switcher-label {
  position: absolute;
  top: 10px;
  bottom: 4px;
  border-radius: 20px;
}
.switch .switcher-label-mobile {
  position: absolute;
  top: 10px;
  bottom: 4px;
  border-radius: 20px;
}

.switch input:checked + .switcher-label {
  left: 10px;
  right: 250px;
  background: #003c2f;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) + .switcher-label {
  left: 150px;
  right: 10px;
  background: #003c2f;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}
.switch input:checked ~ .wipe-one {
  color: white;
}

.switch input:not(:checked) ~ .wipe-two {
  color: white;
}
.switch input:checked ~ .switcher-label-mobile {
  left: 0px;
  right: 230px;
  background: #003c2f;
  transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked) ~ .switcher-label-mobile {
  left: 112px;
  right: 0px;
  background: #003c2f;
  transition: left 0.4s 0.2s, right 0.5s, background 0.35s;
}
.plan-menu::before {
  content: "";
  position: absolute;
  background: #65816d;
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
}
.plan-shadow {
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.special-plan {
  transform: scale(1.1);
}
.image-right {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(40%, 10%);
  height: 100%;
}
.image-right img {
  transform: scale(1.5);
}
.question::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 42rem;
  height: 1px;
  background-color: grey;
}
.img-performance::after {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #f0f5f0;
}
